#board {  /*eric*/
  background-color: none;
  border: 6px solid #33334C;
  width: 850px;
  height: 480px;  /*455px;*/
  overflow: scroll;
  z-index: 100;
  background-image:
    radial-gradient(
      circle,
     #FF0000,
      #0A0A33
    );
}

/*button*/
.blue-input
{
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 4px  5px 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  /*
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  */
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  box-shadow: 5px 5px 5px 2px #0A0A0F;
  color: #000099;
  font-size: 18px;
  font-family: Georgia, serif;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  margin-left: 2em;
  margin-top: .2em;
  width: 7em;
  height: 1.7em;
    -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.blue-input:not(#whose-turn):hover
{
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}

.blue-input:active
{
   border-top-color: #1b435e;
   background: #1b435e;
}
