table
{
  border-collapse: collapse;
  border-spacing: 0;
}

#game {
  width:
}

body
{
  line-height: 1;
  cursor: default;
  cursor: -webkit-default;
  cursor: -moz-default;
   background-image:
  linear-gradient(#000033, #29293D);
  color: white;
  /*height: 50em;*/
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

td
{
  width:  52px;
  height: 52px;
}

.blank
{
  color: rgb(224, 224, 224);
}

.letter
{
  background-color: rgb(232, 148, 66);
  border: 1px solid rgb(151, 84, 19);
  /*color: black;*/
  font-family: arial;
  font-size: 18pt;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  float: left;
  user-select: none;
  padding: 0;
  box-shadow: 2px 2px 0px rgb(151, 84, 19);
  z-index: 20;
}

.ui-draggable
{
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.ui-draggable-dragging
{
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  box-shadow: 3px 3px 5px black;
  position: absolute;
}

.letter-character
{
  position: relative;
  top: 7px;
  z-index: 20;
  color: black;
  text-shadow: -1px -1px 0px rgb(151, 84, 19);
}

.letter-score
{
  position: relative;
  font-size: 10pt;
  left: 10px;
  color: rgb(151, 84, 19);
  z-index: 20;
}

.tray
{
  display: none;
  border: solid 2px navy;
  border-radius: 5px;
  background-color: #ADADFF;
  text-align: center;
  }

#letter-select
{
  float: left;
  margin: 0 7px 20px 0;
  background-color: rgb(100, 255, 100);
  z-index: 30;
}

#overlay
{
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  background-color: rgba(0,0,0,.25);
  z-index: 1000;
}


#overlay div
{
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 15px;
  color: black;
  text-align: center;
}

#transition-dialogue
{
  display: none;
  width: 33.33%;
  background-color: #fff;
  border: 1px solid #000;
  position:absolute;
  padding: 15px;
  color: black;
  left: 33.33%;
  top: 30%;
  text-align: center;
  z-index: 1000;
}

.letter-button
{
  width: 25px;
}
.game-button
{
  display: none;
}
