.letter
{
  background-color: rgb(232, 148, 66);
  border: 1px solid rgb(90, 60, 30);
  font-family: arial;
  font-size: 18pt;
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  float: left;
  user-select: none;
  padding: 0;

}

.ui-draggable
{
  cursor: grab;
}

.ui-draggable-dragging
{
  cursor: grabbing;
  box-shadow: 3px 3px 5px black;
}

.letter-character
{
  position: relative;
  top: 7px;
}

.letter-score
{
  font-size: 10pt;
  left: 15px;
  color: rgb(90, 60, 30);
}
/*
.tray
{
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  height: 10%;
  z-index: 1000;
  margin-top: 72%;
  margin-left: 10%;
}
*/
#player-0-tray {
border: 2px solid navy;
border-radius: 5px;
background-color: #ADADFF;
margin-top: 1%;
margin-left: 4%;
margin-right: 0;
width: 45%;
height: 4em;
display: inline-block;
box-shadow: 15px 15px 15px 9px #0A0A0F;
}

#player-1-tray {
border: 2px solid navy;
border-radius: 5px;
background-color: #ADADFF;
margin-top: 1%;
margin-right: 0;
width: 45%;
height: 4em;
display: inline-block;
box-shadow: 15px 15px 15px 9px #0A0A0F;
}
