header
{
  width: 88%;
  height: 22%;
  text-align: center;
  margin-left:6%;
  margin-right: 0;

  background-image:
  linear-gradient(#3333CC, #29293D);
  border: 7px solid #3333CC;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  box-shadow: 10px 10px 10px 5px #0A0A0F;
}

#left-column
{
  height: 100%;
  width: 40%;
  float: left;
  margin-top: 1%;
}

#right-column
{
  width: 55%;
  height: 100%;
  float: right;
  margin-right: 3em;
  margin-top: 1%;
}

#container
{
  border: 10px solid  #666699;
  float: left;
  text-align: center;
  overflow-y:hidden;
  overflow-x:scroll;
  box-shadow: 15px 15px 15px 9px #0A0A0F;
  width: 95%;
  height:480px;
}

.left-box
{
  height: 7em;
  border: solid 2px white;
  color: #000099;
  width: 75%;
  text-align: center;
  padding: .5em;
  margin-left: 10%;
  margin-top: 7.5%;
  background-color: #ADADFF;
  line-height: 1.5;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

#tilebox
{
  text-align: left;
  height: auto;
  margin-bottom: .5em;
}
#new-game-button
{
  margin-left: 30%;
}

td
{
  width:  2em;
  height: 2em;
}

.square
{
  color: white;
  width:  42px;
  height: 42px;
  font-family: arial;
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  background-color: none;
  z-index: 10;
}

.blank
{
  color: rgb(224, 224, 224);
  background-color: none;
}

.start
{
  background-color: rgb(255, 128, 128);
}

.DL
{
  background-color: rgb(128, 128, 255);
}

.TL
{
  background-color: rgb(64, 64, 255);
}

.DW
{
  background-color: rgb(255, 128, 128);
}

.TW
{
  background-color: rgb(255, 64, 64);
}

.XX
{
  color: black;
  background-color: rgb(0, 0, 0);
  border-color: black;
}


