
/*#main
{

    /*display: flex; /* or inline-flex */
    /*flex-direction: row | row-reverse | column | column-reverse;
}
*/
header
{
  width: 88%;
  height: 22%;
  text-align: center;
  margin-left:6%;
  margin-right: 0;

  background-image:
  linear-gradient(#3333CC, #29293D);
    border: 7px solid #3333CC;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   box-shadow: 10px 10px 10px 5px #0A0A0F;
}

#left-column {
  width: 40%;
  height: 100%;
  float: left;
  margin-left: 3%;
  margin-top: 1%;
}

#right-column {
  width: 50%;
  height: 100%;
  float: right;
  margin-right: 3em;
  margin-top: 1%;
}

#container {
  border: 10px solid  #666699;
  float: left;
  text-align: center;
  /*z-index: 999;*/
  overflow-y:hidden;
  overflow-x:scroll;
  box-shadow: 15px 15px 15px 9px #0A0A0F;
  width: 95%;
  height:480px;
  /*margin-top: 2em;*/

}

#tilebox
{
  border: 2px solid white;
  width: 55%;
  padding: 0 10px  40px 10px;
  height: 12.7em;

  margin-left: 20%;
  background-color: #ADADFF;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  line-height: 0.5;
  margin-bottom: .5em;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

#score
{
  border: solid 2px white;
  color: black;
  width: 55%;
  padding: 10px;
  margin-left: 20%;
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  line-height: 1.5;
  background-color: #ADADFF;
  line-height: 1.5;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

#board-type {
/*float: right;*/
}

td
{
  width:  42px;
  height: 42px;
}

.square
{
  color: white;
  width:  42px;
  height: 42px;
  font-family: arial;
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  background-color: none;
  z-index: 10;
}

.blank
{
  color: rgb(224, 224, 224);
  background-color: none;
}

.start
{
  background-color: rgb(255, 128, 128);
}

.DL
{
  background-color: rgb(128, 128, 255);
}

.TL
{
  background-color: rgb(64, 64, 255);
}

.DW
{
  background-color: rgb(255, 128, 128);
}

.TW
{
  background-color: rgb(255, 64, 64);
}

.XX
{
  color: black;
  background-color: rgb(0, 0, 0);
  border-color: black;
}


