<div class = "letter" id = "{{id}}">
  <div class = "letter-character">{{#unless character}}&nbsp;{{else}}{{character}}{{/unless}}</div>
  <div class = "letter-score">{{#if score}}{{score}}{{/if}}</div>
</div>
