<div class = "letter" id = "{{id}}">
  <div class = "letterCharacter">{{#unless character}}&nbsp;{{else}}{{character}}{{/unless}}</div>
  <div class = "letterScore">{{#if score}}{{score}}{{/if}}</div>
</div>
